.header {
    background-color: #ffffff;
    box-shadow: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.logo {
    color: #000000;
    font-weight: bold;
    flex-grow: 1;
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 0.5s forwards;
    margin-right: auto;
}

.nav-button {
    margin: 0 20px;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 10px 15px;
}

.nav-button:hover {
    color: #007bff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
